USE [master]
GO
/****** Object:  Database [BDPadron]    Script Date: 22/11/2021 01:48:01 ******/
CREATE DATABASE [BDPadron]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDPadron', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPadron.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDPadron_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BDPadron_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDPadron].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDPadron]
GO
/****** Object:  Table [dbo].[Establecimiento]    Script Date: 22/11/2021 01:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Establecimiento](
	[IdEstablecimiento] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Localidad] [varchar](50) NULL,
 CONSTRAINT [PK_Establecimiento] PRIMARY KEY CLUSTERED 
(
	[IdEstablecimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 22/11/2021 01:48:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[DNI] [int] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[IdEstablecimiento] [int] NULL,
	[Voto] [bit] NULL,
	[NumeroTramite] [int] NULL,
	[fyhVoto] [datetime] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Establecimiento] ON 

INSERT [dbo].[Establecimiento] ([IdEstablecimiento], [Nombre], [Direccion], [Localidad]) VALUES (1, N'Escuela Tecnica ORT', N'Yatay 240', N'Almagro')
INSERT [dbo].[Establecimiento] ([IdEstablecimiento], [Nombre], [Direccion], [Localidad]) VALUES (2, N'Colegio Manuel Belgrano', N'Lavalle 759', N'Microcentro')
INSERT [dbo].[Establecimiento] ([IdEstablecimiento], [Nombre], [Direccion], [Localidad]) VALUES (3, N'Escuela Domingo Faustino Sarmiento', N'Nazca 1122', N'Flores')
SET IDENTITY_INSERT [dbo].[Establecimiento] OFF
GO
INSERT [dbo].[Personas] ([DNI], [Nombre], [Apellido], [IdEstablecimiento], [Voto], [NumeroTramite], [fyhVoto]) VALUES (11111111, N'Lionel Andres', N'Messi', 1, 1, 111111112, CAST(N'2021-11-17T20:47:14.837' AS DateTime))
INSERT [dbo].[Personas] ([DNI], [Nombre], [Apellido], [IdEstablecimiento], [Voto], [NumeroTramite], [fyhVoto]) VALUES (22222222, N'Rodrigo ', N'De Paul', 1, 0, 222222223, NULL)
INSERT [dbo].[Personas] ([DNI], [Nombre], [Apellido], [IdEstablecimiento], [Voto], [NumeroTramite], [fyhVoto]) VALUES (33333333, N'Emiliano ', N'Martinez', 2, 0, 333333334, NULL)
GO
USE [master]
GO
